<mat-list *ngIf="enderecos">
    <h3 mat-subheader>Endereços</h3>
    <mat-list-item *ngFor="let endereco of enderecos; last as last">
      <mat-list-item class="row col-md-12">
        <div class="col-md-1">
          <mat-form-field class="col-md-12" [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Logradouro" name="logradouro" [(ngModel)]="endereco.logradouro">
        </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="col-md-12" [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Endereço" name="endereco" [(ngModel)]="endereco.endereco">
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-form-field class="col-md-12" [floatLabel]="options.value.floatLabel">
            <input matInput placeholder="Número" name="numero" [(ngModel)]="endereco.numero">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="col-md-12" [floatLabel]="options.value.floatLabel">
              <input matInput placeholder="Bairro" name="bairro" [(ngModel)]="endereco.bairro">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="col-md-12 CEP" [floatLabel]="options.value.floatLabel">
              <input matInput placeholder="CEP" name="cep" [(ngModel)]="endereco.cep">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="col-md-12" [floatLabel]="options.value.floatLabel">
              <input matInput placeholder="Complemento" name="complemento" [(ngModel)]="endereco.complemento">
          </mat-form-field>
        </div>
        
        <div class="col-md-1">
          <a mat-raised-button *ngIf="endereco.id > 0" (click)="removeEndereco(endereco)" color="warn">
            <mat-icon mat-list-icon>delete</mat-icon>
          </a>
        </div>
      </mat-list-item>
       <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
 </mat-list>